/* Color Theme Swatches in Hex */
.Natureza-1-hex { color: #202426; }
.Natureza-2-hex { color: #6C733D; }
.Natureza-3-hex { color: #9DA65D; }
.Natureza-4-hex { color: #8C8C88; }
.Natureza-5-hex { color: #dfd7d7; }


html {
    background: #dfd7d7;
    color: #202426;

font-size: 18px;
font-family: Helvetica, san;
}

p {
    text-indent: 1em;
}

h1, h2, h3 {
    text-align: center;
}
h1 {font-size: 1.8rem;}
h2 {font-size: 1.4rem;}
h3 {font-size: 1.2rem;}

.summary {text-align: right;}
.main p {line-height: 1.5;}

abbr {font-variant: small-caps}
